* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
}
.wrapper {
	width: 100%;
	min-height: auto;
	margin: auto;
}

.nav-header {
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 1;
	background-color: #fff;
	box-shadow: 10px 3px 3px rgba(0,0,0,0.1);
}

.logo {
	width: 30%;
	min-height: 80px;
	float: left;
}

.logo_a {
	width: 100%;
	height: 80px;
	background-image: url(../img/logo.jpg);
	background-size: 100% 100%;
}
/*Navigation Area*/
.navigation {
	width: 50%;
	height: 80px;
	float: left;
	box-sizing: border-box;
}
.first-btn{
	background: none;
	border: none;
	margin-left: 20px;
}
.first-btn a{
	text-decoration: none;
	font: 600 14px/30px 'Montserrat', sans-serif;
	color: rgba(0,0,0,0.7);
}
.first-btn a:hover{
	color: #56d5c4; 
}
.dropbtn{
	background: #fff;
	color: rgba(0,0,0,0.7);
	padding: 5px 16px;	
	margin-top: 15px;
	font: 600 14px/30px 'Montserrat', sans-serif;
	border: none; 
}
.dropdown{
	position: relative;
	display: inline-block;

}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #444;
	min-width: 160px;
	box-shadow: 0px 18px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a{
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
	font: 14px/30px 'Montserrat', sans-serif;
	display: block;
	border-bottom: 1px solid #333;
}
.dropdown-content a:hover{
	background: rgba(0,0,0,0.4);
	cursor: pointer;
}
.dropdown:hover .dropdown-content{
	display: block;
	margin-left: 20px;
}
.dropdown:hover .dropbtn{
	color: #56d5c4;
}

/*.navigation ul {
	list-style-type: none;
	text-align: center;
}

.navigation ul li {
	display: inline-block;
	padding: 8px 21px;
}

.navigation ul li a {
	text-decoration: none;
	font: 600 14px/30px 'Montserrat', sans-serif;
	color: rgba(0, 0, 0, 0.6);
}

.navigation ul li a:hover {
	color: #56d5c4;
	transition: all 0.2s ease-in-out;
}*/

.book-nav {
	width: 8%;
	height: 80px;
	padding: 18px 28px;
	float: left;
	box-sizing: border-box;
}

.book-nav a {
	padding: 4px 25px;
	background-color: #56d5c4;
	float: left;
	color: #fff;
	text-decoration: none;
	font: 600 14px/30px 'Montserrat', sans-serif;
	border-radius: 4px;
}

.book-nav a:hover {
	color: #56d5c4;
	background-color: #fff;
	box-shadow: 3px 1px 10px #56d5c4;
	transition: all 0.2s ease-in-out;
}

.lang {
	width: 8%;
	height: 80px;
	float: left;
	padding: 18px 11px;
}

.lang a {
	padding: 4px 18px;
	background-color: #56d5c4;
	float: left;
	text-decoration: none;
	color: #fff;
	margin-left: 5px;
	font: 600 14px/30px 'Montserrat', sans-serif;
	border-radius: 4px;
}

.lang a:hover {
	color: #56d5c4;
	background-color: #fff;
	box-shadow: 3px 1px 10px #56d5c4;
	transition: all 0.2s ease-in-out;
}

.img-header {
	width: 100%;
	height: 500px;
	position: relative;
}

.img-header1 {
	width: 100%;
	height: 500px;
	background-image: url('../img/05.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.avail-check {
	width: 100%;
	height: 170px;
	position: absolute;
	bottom: 50px;
}

.inside-check {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.inside-check form {
	height: 110px;
	border: none;
	margin-left: 10px;
	border-radius: 4px;
}
::placeholder{
	padding-left: 10px;
}
.inside-check form input,select {
	width: 25%;
	margin: 30px 0px 0px 5px;
	height: 45px;
	border-radius: 4px;
	border: 1px solid #56d5c4;
	color: rgba(0, 0, 0, 0.4);
	font: 600 13px/40px'Montserrat', sans-serif;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.inside-check form button {
	width: 20%;
	height: 45px;
	color: #fff;
	background-color: #56d5c4;
	border: none;
	border-radius: 4px;
	margin-left: 15px;
	font-size: 15px;
	font: 600 15px/40px'Montserrat', sans-serif;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.inside-check form button:hover {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.content-area {
	width: 100%;
	height: auto;
	padding-top: 1px;
}

.area1 {
	width: 100%;
	height: auto;
	margin-top: 90px;
}

.area1 h2 {
	font: 700 30px/20px 'Montserrat', sans-serif;
	text-align: center;
	padding: 18px;
	color: #56d5c4;
}

.area1 p {
	font: 200 25px 'Montserrat', sans-serif;
	text-align: center;
	margin-top: -20px;
}

.area-inside1{
	width: 90%;
	height: 450px;
	margin: auto;
	padding: auto;
}

.content1{
	width: 32%;
	height: 380px;
	float: left;
	margin-left: 10px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}
.content1 img{
	width: 100%;
	height: 220px;
}
.content1 h4{
	width: 100px;
	height: 38px;
	background-color: #56d5c4;
	color: #fff;
	position: relative;
	padding: 10px 16px;
	margin-top: -42px;
	font: 500 14px 'Montserrat', sans-serif;
}
.content1 h3{
	font: 700 16px/25px 'Montserrat', sans-serif;
}
.content1 p{
	font: 500 12px/20px 'Montserrat', sans-serif;	
}
.content2{
	width: 32%;
	height: 380px;
	float: left;
	margin-left: 14px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}
.content2 img{
	width: 100%;
	height: 220px;
}
.content2 h3{
	font: 700 16px/25px 'Montserrat', sans-serif;
}
.content2 p{
	font: 500 12px/20px 'Montserrat', sans-serif;	
}
.content3{
	width: 32%;
	height: 380px;
	float: left;
	margin-left: 14px;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}
.content3 img{
	width: 100%;
	height: 220px;
}
.content3 h3{
	font: 700 18px 'Montserrat', sans-serif;
}
.content3 p{
	font: 500 12px/20px 'Montserrat', sans-serif;	
}
.more_room{
	width: 160px;
	height: 40px;
	background-color: #56d5c4;
	padding: 10px 20px;
	margin-left: auto;
	margin-right: auto;
}
.more_room a{
	text-decoration: none;
	color: #fff;
	font: 600 15px 'Montserrat', sans-serif;	
}
.content_img{
	width: 100%;
	height: 500px;
	background-image: url('../img/06.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 50px;
}
.in_con1 h3{
	text-align: center;		
	color: #fff;
	padding-top: 160px;	
	font: 600 27px 'Montserrat', sans-serif;
}
.in_con2 ul{
	list-style-type: none;
	text-align: center;
}
.in_con2 ul li{
	display: inline-block;
}
.in_con2 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 14px;
	font: 600 16px 'Montserrat', sans-serif;
}
.in_con2 ul li a:hover{
	background-color: #fff;
	color: #56d5c4;
	border-radius: 4px;
	font-weight: 800;
	transition: all 0.4s ease-in-out;
}
@media only screen and(max-width: 600px){
	.written_content h2{
		font: 200 19px/30px 'Montserrat', sans-serif;		
	}		
}
.written_content{
	width: 90%;
	height: auto;
	margin: auto;
	padding-top: 50px;
}
.written_content h2{
	font: 700 27px/35px 'Montserrat', sans-serif;	
	color: #56d5c4;
	text-align: center;
}
.written_content h5{
	font: 300 22px/25px 'Montserrat', sans-serif;	
	color: #000;
	text-align: center;
	margin-top: -10px;
	word-spacing: 4px;
}
.written_content p{
	font: 400 13px/24px 'Montserrat', sans-serif;	
	color: #000;
	text-align: center;
}
.section-content{
	width: 100%;
	height: 200px;
}
.imgsec-a{
	width: 100%;
	height: 300px;
}
.sec-a{
	width: 33.33%;
	height: 300px;
	float: left;
	position: relative;
	overflow: hidden;
}
.sec-a img{
	width: 100%;
	height: 100%;
}
.overlay-wrap{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	color: white;
	transition: all 0.6s ease-in-out;
	transform: scale(0);
}
.inner-overlay{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font: 600 18px/24px 'Montserrat', sans-serif;
	text-align: center;
}
.inner-overlay p{
	font: 400 18px/24px 'Montserrat', sans-serif;
	color: #fff;
}
.sec-a:hover .overlay-wrap{
	transform: scale(1);
}
.sec-a img{
	transition: all .6s ease-in-out;
}
.sec-a:hover img{
	transform: scale(1.1);
}
/*Subscribe Section*/
.subs-sec{
	width: 100%;
	height: 400px;
	background-image: url('../img/11.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	margin-top: 100px;

}
.title-subscribe{
	font-family: 'Sacramento', cursive;
	font-size: 100px;
	font-weight: 600;
	text-align: center;
	color: #fff;
}
.title-subscribe p{
	font-family: arial;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 5px;
	margin-top: -20px;
}
.subs-form{
	width: 55%;
	height: auto;
	margin: 0px auto;
}
.subs-form form input{ 
	width:49%;
	height: 50px;
	margin-top: 30px;
	margin-left: 3px;
	border: none;
}
.subs-form form button{
	width: 120px;
	height: 50px;
	top: 50%;
	left: 50%;
	background: rgba(0,0,0,0.1);
	margin-left: 40%;
	margin-top: 20px; 
	border: none;
	color: #fff;
	font-family: arial;
	font-size: 18px;
	transform: translate(10%);
}
.subs-form form button:hover{
	width: 140px;
	height: 50px;
	transform: scale(1);
	transition: all 0.6s ease-in-out;
}
.footer-sec{
	width: 100%;
	height: 300px;
	background: #444;
	color: #fff;
}